chromadb
json
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-protocol
langchain-text-splitters
PyMuPDF
pymupdf4llm
pysqlite3
streamlit
shutil
uuid